pkgbase = aurvet
	pkgdesc = Provenance, integrity and persistence auditing for AUR-installed packages
	pkgver = 0.0.1
	pkgrel = 1
	url = https://github.com/lookatitude/aurvet
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	makedepends = scdoc
	depends = sh
	optdepends = paru: helper handover for aurvet install
	optdepends = yay: helper handover for aurvet install
	options = !strip
	options = !debug
	options = !lto
	source = aurvet-0.0.1.tar.gz::https://github.com/lookatitude/aurvet/releases/download/v0.0.1/aurvet-0.0.1.tar.gz
	sha256sums = 1f8c3651293b9f67e008bf5aaa69506dcdef66b6763375094a52ac6eba0cee0a

pkgname = aurvet
